@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --player-height: 90px;
    --primary-color: #8d22c3;
    --text-primary: #32323d;
    --bg-color: rgba(0, 0, 0, 0.05);
    --border-primary: rgba(0, 0, 0, 0.1);
    --box-shadow-1: 0 10px 10px 0 rgba(255, 255, 255, 0.3);
    --gradient-image1: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}

body ::-webkit-scrollbar {
    width: 6px;
}

body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.sidebar-menus {
    box-shadow: var(--box-shadow-1);
}

.sidebar-divide::before {
    content: "";
    display: block;
    position: absolute;
    left: 25px;
    right: 25px;
    border-top: 1px solid var(--border-primary);
}

.sidebar-banner {
    background-image: var(--gradient-image1);
}
